<div class="row project-hot">
    <div class="col-md-12 title-list-news-items">
        <p class="text-center text-uppercase p-title-news-items">
            <img alt="Xây Dựng Minh Duy" src="{{ asset('assets/images/icon-logo.png') }}" width="30" height="25" />
            <i class="fas fa-angle-right"></i>
            Dự án nổi bật
        </h1>
        <span class="text-center block-underline"></span>
    </div>
    
    <div class="clearfix"></div>
    
    <div class="list-news-items">
        <div class="bxslider">
            {% for row in posts %}
                {{ include('news/components/itemsGridSlide.html.twig') }}
            {% endfor %}
        </div>
    </div>
</div>