#sidebar {
    .list-group {
        h2 {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 0;
        }
    }
}

.post-container {
    .news {
        .table-wrapper-responsive {
            width: 100%;
            overflow-x: auto;
        }
    }
}