<div class="hotline">
    <div class="inner">
        <a href="tel:{{ get_setting('hotLine1')|replace({'.': ''}) }}"><div class="phonering-alo-ph-img-circle"></div>{{ get_setting('hotLine1') }}</a>
    </div>
</div>