<div class="container partner">
    <div class="row">
        <div class="col-md-4">
            <div class="wrapper-partner">
                <h3 class="text-uppercase text-center">Cam kết hàng chính hãng</h3>
                <p class="text-center">Chúng tôi cam kết cung cấp các sản phẩm chính hãng, có tem bảo đảm chất lượng</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="wrapper-partner">
                <h3 class="text-uppercase text-center">Thanh toán an toàn</h3>
                <p class="text-center">Quý khách hàng chỉ thanh toán khi nhận hàng, giao dịch đảm bảo an toàn</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="wrapper-partner">
                <h3 class="text-uppercase text-center">Miễn phí giao hàng</h3>
                <p class="text-center">Miễn phí giao hàng toàn quốc cho đơn hàng từ 490.000 vnđ trở lên</p>
            </div>
        </div>
    </div>
</div>