<div class="container partner">
    <div class="row">
        <div class="col-md-3">
            <div class="wrapper-partner">
                <i class="fas fa-headphones-alt"></i>
                <h3 class="text-uppercase text-center">Hỗ trợ khách hàng</h3>
                <span>Cần giúp đõ?</span>
                <p class="text-center">Hỗ trợ khách hàng nhanh chóng về hóa đơn cũng như tư vấn sản phẩm</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="wrapper-partner">
                <i class="fas fa-credit-card"></i>
                <h3 class="text-uppercase text-center">Thanh toán an toàn</h3>
                <span>Nhanh và an toàn</span>
                <p class="text-center">Quý khách chỉ thanh toán khi nhận hàng, giao dịch đảm bảo an toàn</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="wrapper-partner">
                <i class="fas fa-undo"></i>
                <h3 class="text-uppercase text-center">Miễn phí trả hàng</h3>
                <span>Dễ dàng và miễn phí</span>
                <p class="text-center">Chính sách miễn trả hàng cực kì dễ dàng và miễn phí trên toàn quốc</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="wrapper-partner">
                <i class="fas fa-shipping-fast"></i>
                <h3 class="text-uppercase text-center">Miễn phí giao hàng</h3>
                <span>Hóa đơn trên 490.000 vnđ</span>
                <p class="text-center">Miễn phí giao hàng toàn quốc cho các đơn hàng từ 490.000 vnđ trở lên</p>
            </div>
        </div>
    </div>
</div>